RewriteEngine on

#RewriteBase indispensable sur webetu :
RewriteBase /www/domps1u/dangoJulienBaptisteLesMeilleurs

#Interdire l'accès aux répertoires contenant du code
RewriteRule ^sql(/.*|)$ - [NC,F]
RewriteRule ^src(/.*|)$ - [NC,F]
RewriteRule ^vendor(/.*|)$ - [NC,F]
RewriteRule ^doc(/.*|)$ - [NC,F]
RewriteRule ^.git(/.*|)$ - [NC,F]

#Reecriture pour slim
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

#Redirection erreur
#ErrorDocument 403 http://localhost/quizzbox/project/data/error/403.html
